.caja-flex{
    background-color: yellow;
    display: flex;
    justify-content: space-between;
    height: 600px;
    width: 100%;
}

.elemento{
    background-color: blue;
    border-radius: 10px;
    height: 100px;
    width: 100px;
}

.elemento > h1{
    color: white;
    font-family: sans-serif;
}

.caja-flex1{
    display: flex;
    justify-self: flex-end;
    gap: 10px;
}

.caja-flex2{
    display: flex;
}


